@CHARSET "ISO-8859-1";
.item {
	list-style: none;
	display: inline-block;
}

.item a.nav-link {
	padding: 0.25rem 0.5rem !important;
}

.sidebar .nav svg {
	font-size: 24px;
	float: left;
	margin-right: 15px;
	line-height: 30px;
	width: 30px;
	padding: 5px;
	text-align: center;
	color: #a9afbb;
}

.sidebar .nav li.active>a svg {
	color: #fff;
}

.subs-menu {
	display: none;
	list-style: none;
	padding-left: 0px;
}


.nav-item.active .subs-menu,
.nav-item:hover .subs-menu {
	display: block
}


.sub-item a {
	display: block;
	background: white !important;
	color: black !important;
}

.sub-item.active a,
.sub-item:hover a {
	color: purple !important;
}
.active-page {
	background: purple !important;
}
.activeDir {
	color: red !important;
}
.activeDir:hover {
	display: none;
}

.pagination {
	position: relative;
	left: 50%;
	top: 50%;
}
.page-link.active{
	color: white;
	background: purple;
}

#img-user, #inputImg, .imgUser {
	max-width: 100%;
	max-height: 100%;
}

#div-img {
	max-width: 100%;
	max-height: 100%;
}
.containerImg {

}
.imgDiv {
	width: 100px;
	height: 60px;
}
#imgUser {
	max-height: 100%;
}